/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { font-size: 62.5%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; color: #4d4d4d; }
body a { color: #4d4d4d; text-decoration: none; }
body a:hover { color: #2fa4e7; }

@font-face { font-family: "helveticaneuecyr-roman"; src: url("fonts/helveticaneuecyr-roman.eot"); src: url("fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-roman.woff") format("woff"), url("fonts/helveticaneuecyr-roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "helveticaneuecyr-light"; src: url("fonts/helveticaneuecyr-light.eot"); src: url("fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-light.woff") format("woff"), url("fonts/helveticaneuecyr-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "helveticaneuecyr-bold"; src: url("fonts/helveticaneuecyr-bold.eot"); src: url("fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-bold.woff") format("woff"), url("fonts/helveticaneuecyr-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.l { max-width: 1260px; min-width: 720px; margin: 0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 71.42857%; padding-left: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 980px) { .l .l-col1 { float: none; width: 100%; padding-right: 30px; } }
.l .l-col2 { float: right; width: 28.57143%; padding-left: 30px; padding-right: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 980px) { .l .l-col2 { float: none; width: 400px; margin: 0 auto; } }

header { *zoom: 1; padding: 0 30px; line-height: 95px; }
header:after { content: " "; display: table; clear: both; }

.logo { display: block; float: left; font-family: "helveticaneuecyr-roman", Arial, sans-serif; font-size: 48px; font-size: 4.8rem; text-decoration: none; margin-right: 12.41667%; }
.logo span { color: #2fa4e7; }
.logo:hover { color: #4d4d4d; }
@media only screen and (max-width: 1090px) { .logo { margin-right: 5%; } }

.search { float: left; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 980px) { .search { clear: left; } }
.search input { font-style: italic; color: #4d4d4d; width: 500px; border: 1px solid #e5e5e5; -webkit-border-radius: 3px; border-radius: 3px; padding: 10px 25px; padding-right: 105px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: white; }
.search input:-moz-placeholder, .search input::-moz-placeholder { color: #e3e3e3; opacity: 1; }
.search input::-webkit-input-placeholder { color: #e3e3e3; }

.btn { background: #2fa4e7; -webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset; box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset; border: 1px solid #3084b6; font-family: "helveticaneuecyr-bold", Arial, sans-serif; color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.btn:hover { background: #2d7caa; -webkit-box-shadow: none; box-shadow: none; color: white; }
.btn:active { -webkit-transform: translateY(1px); -moz-transform: translateY(1px); -ms-transform: translateY(1px); -o-transform: translateY(1px); transform: translateY(1px); }

.btn_search { position: absolute; top: 28px; right: 0; width: 90px; height: 38px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn_search:before { content: ""; position: absolute; top: 7px; left: 33px; background: url('../img/icons-sc83f02760e.png') 0 -444px no-repeat; width: 22px; height: 23px; }

.join, .sign-in { display: block; float: right; text-decoration: none; font-family: "helveticaneuecyr-light", Arial, sans-serif; font-size: 18px; font-size: 1.8rem; }

.join { color: #2fa4e7; padding-left: 25px; margin-right: 3%; position: relative; }
.join:before { content: ""; position: absolute; top: 37px; left: 0; background: url('../img/icons-sc83f02760e.png') 0 -543px no-repeat; width: 16px; height: 18px; }

.menu-list { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2fa4e7), color-stop(100%, #44ade9)); background-image: -webkit-linear-gradient(#2fa4e7, #44ade9); background-image: -moz-linear-gradient(#2fa4e7, #44ade9); background-image: -o-linear-gradient(#2fa4e7, #44ade9); background-image: linear-gradient(#2fa4e7, #44ade9); border: 1px solid #3084b6; -webkit-border-radius: 3px; border-radius: 3px; font-size: 0; margin: 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.menu-list li { font-size: 14px; font-size: 1.4rem; display: inline-block; border-left: 1px solid rgba(255, 255, 255, 0.3); border-right: 1px solid #328bbf; -webkit-transition: 0.2s linear; -moz-transition: 0.2s linear; -o-transition: 0.2s linear; transition: 0.2s linear; }
.menu-list li:first-child { border-left: 1px solid transparent; }
.menu-list li:last-child { border-right: 1px solid transparent; }
.menu-list li:hover { background: #2d7caa; border-left: 1px solid transparent; border-right: 1px solid transparent; }
.menu-list li a { display: block; padding: 0 20px; line-height: 36px; color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.menu-list .is-active { background: #2d7caa; border-left: 1px solid transparent; border-right: 1px solid transparent; }

.breadcrumb { margin: 0 30px; line-height: 47px; border-bottom: 1px solid #e3e3e3; }
.breadcrumb li { display: inline-block; vertical-align: middle; margin-right: 3px; }
.breadcrumb li a { font-size: 12px; font-size: 1.2rem; text-decoration: underline; }
.breadcrumb li span { margin-left: 5px; }
.breadcrumb li:last-child a, .breadcrumb li.is-active a { color: #cccccc; text-decoration: none; cursor: default; }
.breadcrumb li:last-child span, .breadcrumb li.is-active span { display: none; }

.section-name { font-family: "helveticaneuecyr-bold", Arial, sans-serif; font-weight: normal; font-size: 18px; font-size: 1.8rem; color: #2fa4e7; }

.section-name_regular { font-family: Arial; font-weight: normal; }

.all-makes { margin-top: 35px; *zoom: 1; }
.all-makes:after { content: " "; display: table; clear: both; }
.all-makes caption, .all-makes h2 { text-align: left; margin-bottom: 24px; }
.all-makes td, .all-makes ul { width: 16.666%; line-height: 2.15; font-size: 14px; font-size: 1.4rem; }
.all-makes ul { list-style: none; float: left; }

.seo-text { margin-top: 35px; }
.seo-text h3 { margin-bottom: 20px; }
.seo-text p { margin-bottom: 1em; }

.options { margin-top: 35px; }
.options .options__block { background: whitesmoke; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; padding: 5px 20px; margin-top: 12px; }
.options .options__item { display: inline-block; margin-right: 25px; }
.options .options__item select { padding: 3px 10px; width: 120px; color: #4d4d4d; }
.options .options__item strong { display: inline-block; font-size: 14px; font-size: 1.4rem; }
.options .options__item form { display: inline-block; margin-left: 18px; }
.options .btn_options { position: relative; top: 3px; float: right; width: 70px; height: 24px; }
@media only screen and (max-width: 1090px) { .options .btn_options { float: none; margin: 10px 0; top: 0; } }

.parts { margin-top: 45px; padding-bottom: 40px; border-bottom: 1px solid #e3e3e3; }

.parts__block { display: inline-block; vertical-align: top; width: 33%; min-width: 150px; margin-top: 32px; margin-bottom: 6px; }
.parts__block h2 { margin-top: 12px; margin-bottom: 6px; line-height: 1.1; }
.parts__block h2 a { color: #2fa4e7; font-weight: bold; font-size: 14px; font-size: 1.4rem; }
.parts__block .parts__image { width: 118px; height: 118px; border: 1px solid #e3e3e3; font-size: 0; }
.parts__block .parts__image img { max-width: 100%; }
.parts__block li { line-height: 1.7; }
.parts__block .btn_more { display: inline-block; text-align: center; position: relative; width: 31px; height: 22px; margin-left: 8px; }

.most-visited { margin-top: 45px; }
.most-visited caption { text-align: left; margin-bottom: 27px; }
.most-visited td { width: 33%; line-height: 2; }

.banner-hor { margin-top: 42px; font-size: 0; text-align: center; }
.banner-hor img { max-width: 100%; }

.reviews { margin-top: 45px; }
.reviews .reviews__tabs { z-index: 3; font-size: 0; margin-top: 31px; }
.reviews .reviews__tabs li { display: inline-block; background: #4d4d4d; margin-right: 10px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }
.reviews .reviews__tabs li a { display: block; font-size: 14px; font-size: 1.4rem; font-weight: bold; line-height: 37px; color: white; padding: 0 15px; }
.reviews .reviews__tabs li.is-active { background: white; border: 1px solid #e3e3e3; border-bottom: 1px solid white; }
.reviews .reviews__tabs li.is-active a { color: #4d4d4d; cursor: default; }
.reviews .reviews__tabs li.is-active:after { content: ""; height: 1px; width: 100%; background: white; display: block; position: absolute; bottom: -1px; z-index: 2; }
.reviews .reviews__container { border: 1px solid #e3e3e3; position: relative; top: -1px; z-index: 1; padding: 15px; -webkit-border-radius: 3px; border-radius: 3px; *zoom: 1; }
.reviews .reviews__container:after { content: " "; display: table; clear: both; }
.reviews .reviews__block { display: inline-block; vertical-align: top; width: 33%; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.reviews .reviews__image { width: 100%; font-size: 0; }
.reviews .reviews__image img { width: 100%; }
.reviews h3 { margin-top: 12px; margin-bottom: 10px; }
.reviews h3 a { color: #2fa4e7; font-size: 14px; font-size: 1.4rem; }
.reviews p { line-height: 1.5; }
.reviews .btn_reviews { display: block; float: right; line-height: 25px; padding: 0 8px; margin: 10px 10px; font-family: Arial; font-weight: bold; }

.news { margin-top: 45px; }
.news .news__container { margin-top: 32px; padding: 25px; padding-top: 20px; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; *zoom: 1; }
.news .news__container:after { content: " "; display: table; clear: both; }
.news li { border-bottom: 1px solid #e3e3e3; }
.news li.is-active { *zoom: 1; }
.news li.is-active:after { content: " "; display: table; clear: both; }
.news .news__image { float: left; font-size: 0; margin-right: 25px; margin-bottom: 25px; max-width: 256px; }
.news .news__image img { max-width: 100%; }
.news .news__date { color: #cccccc; font-size: 11px; font-size: 1.1rem; line-height: 1.4; margin-top: 6px; }
.news h3 { margin-bottom: 10px; }
.news h3 a { color: #2fa4e7; }
.news p { line-height: 1.5; }
.news .btn_news { display: block; float: right; line-height: 25px; padding: 0 12px; margin-top: 25px; font-family: Arial; font-weight: bold; }

.make { margin-top: 35px; *zoom: 1; }
.make:after { content: " "; display: table; clear: both; }
.make .make__logo { font-size: 0; margin-top: 35px; float: left; margin-right: 30px; width: 150px; }
.make .make__logo img { max-width: 100%; }
.make .make__history { margin-top: 32px; }
.make .make__history p { margin-bottom: 10px; }
.make .make__vehicle { margin-top: 45px; }
.make .make__vehicle > li { padding: 11px 17px; margin-bottom: 8px; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; *zoom: 1; }
.make .make__vehicle > li:after { content: " "; display: table; clear: both; }
.make .make__vehicle > li:last-child { margin-bottom: 0; }
.make .make__vehicle-image { float: left; font-size: 0; width: 150px; margin-right: 21px; }
.make .make__vehicle-image img { max-width: 100%; }
.make h3 { margin-top: 7px; }
.make h3 a { color: #2fa4e7; }
.make .make__vehicle-specs { margin-top: 8px; }
.make .make__vehicle-specs li { display: inline-block; line-height: 1; margin-right: 10px; padding-right: 10px; border-right: 1px solid #4d4d4d; }
.make .make__vehicle-specs li:last-child { border: none; padding-right: 0; margin-right: 0; }
.make .make__vehicle-years { margin-top: 10px; }
.make .make__vehicle-years li { display: inline-block; margin-right: 5px; }
.make .make__vehicle-years li a { text-decoration: underline; }

.make_competitors { margin-top: 45px; }
.make_competitors .make__vehicle { margin-top: 35px; }
.make_competitors .compare { text-decoration: underline; color: #2fa4e7; display: inline-block; margin-top: 10px; }

.model { margin-top: 35px; }
.model h3 { color: #2fa4e7; }
.model .model__about { margin-top: 29px; margin-bottom: 42px; line-height: 1.2; }
.model .model__specs { margin-top: 15px; margin-bottom: 27px; *zoom: 1; }
.model .model__specs:after { content: " "; display: table; clear: both; }
.model .model__specs-image { float: left; width: 150px; font-size: 0; margin-right: 5.5%; padding: 10px 0; }
.model .model__specs-image img { max-width: 100%; }
.model .model__specs-table { width: 60%; }
.model .model__specs-table td { width: 33.33%; line-height: 2; }

.model__block-box { margin-right: -21px; font-size: 0; }

.model__block { text-decoration: none; font-size: 0; display: inline-block; vertical-align: top; padding-top: 40px; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 158px; height: 158px; margin-right: 20px; margin-top: 20px; position: relative; text-align: center; overflow: hidden; }
.model__block:hover { color: #4d4d4d; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); -webkit-transition: 0.2s linear; -moz-transition: 0.2s linear; -o-transition: 0.2s linear; transition: 0.2s linear; }
.model__block span { font-size: 18px; font-size: 1.8rem; font-weight: bold; position: absolute; top: 15px; left: 50%; margin-left: -20px; }
.model__block img { max-width: 100%; }

.all-models { margin-top: 40px; }
.all-models p { margin-top: 25px; line-height: 2; padding-bottom: 42px; border-bottom: 1px solid #e3e3e3; }

.all-models + .all-makes { margin-top: 45px; }

.model-year { margin-top: 35px; }
.model-year h3 { color: #2fa4e7; }
.model-year .model-year__box { margin-top: 32px; *zoom: 1; }
.model-year .model-year__box:after { content: " "; display: table; clear: both; }
.model-year .model-year__box-left { float: left; width: 31.03448%; }
.model-year .model-year__image { font-size: 0; }
.model-year .model-year__image img { max-width: 100%; }
.model-year .model-year__links li { display: inline-block; margin-right: 20px; }
.model-year .model-year__links li:last-child { margin-right: 0; }
.model-year .model-year__links li a { color: #2fa4e7; text-decoration: underline; }
.model-year .model-year__image + .model-year__links { margin-top: 5px; }
.model-year .model-year__box-right { margin-left: 35.86207%; }
.model-year .model-year__box-right table { margin-top: 13px; margin-bottom: 18px; }
.model-year .model-year__trim-levels { line-height: 2; }
.model-year .model-year__cost { text-align: right; line-height: 2; color: #ff5c28; white-space: nowrap; padding-left: 10px; }
.model-year .model-year__years { margin-top: 22px; margin-bottom: 4px; }
.model-year .model-year__years li { display: inline-block; font-weight: bold; margin-right: 5px; }
.model-year .model-year__years li:last-child { margin-right: -4px; }
.model-year .model-year__years li.is-active a { color: #cccccc; font-weight: normal; cursor: default; }

.model__block_all-models { height: 198px; padding-top: 0; padding-bottom: 80px; }
.model__block_all-models .model__block-name { position: absolute; bottom: 31px; left: 0; right: 0; height: 42px; line-height: 42px; }
.model__block_all-models .model__block-name h3 { display: inline-block; vertical-align: middle; font-size: 12px; font-size: 1.2rem; line-height: 1.2; color: #2fa4e7; padding: 0 7px; vertical-align: middle; }
.model__block_all-models .model__block-cost { top: auto; left: 0; right: 0; bottom: 7px; margin: 0; padding: 0 5px; text-align: center; color: #ff5c28; font-size: 12px; font-size: 1.2rem; }

.model__block-box_all-models { margin-top: 15px; }

.write-review { margin-top: 50px; border-top: 1px solid #e3e3e3; padding-top: 44px; }
.write-review .btn_submit { padding: 5px 10px; margin-top: 20px; }

.write-review__text textarea { width: 100%; font: normal 12px Arial; color: #4d4d4d; padding: 15px; border: 1px solid #e3e3e3; margin-top: 35px; background: white; line-height: 1.4; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; }

.write-review__col { width: 300px; padding: 0 1px; margin-top: 18px; }

.write-review__checkbox * { vertical-align: middle; }

.write-review__user-name, .write-review__user-email { position: relative; }
.write-review__user-name > input, .write-review__user-email > input { width: 100%; border: 1px solid #e3e3e3; padding: 6px; padding-left: 38px; border: 1px solid #e3e3e3; color: #4d4d4d; background: white; font-family: Arial; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; }
.write-review__user-name span, .write-review__user-email span { display: inline-block; position: absolute; top: 0; left: 0; width: 26px; height: 29.5px; line-height: 28px; background: #f3f1f1; text-align: center; border: 1px solid #e3e3e3; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }

.write-review__user-name { margin-top: 16px; }
.write-review__user-name i { display: inline-block; vertical-align: middle; background: url('../img/icons-sc83f02760e.png') 0 -518px no-repeat; width: 12px; height: 15px; }

.write-review__user-email { margin-top: 10px; }
.write-review__user-email i { display: inline-block; vertical-align: middle; background: url('../img/icons-sc83f02760e.png') 0 -571px no-repeat; width: 14px; height: 11px; }

.write-review__captcha { margin-top: 20px; *zoom: 1; }
.write-review__captcha:after { content: " "; display: table; clear: both; }

.write-review__captcha-image { float: left; width: 158px; height: 48px; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden; }
.write-review__captcha-image img { max-width: 100%; }

.write-review__captcha-input { float: right; }
.write-review__captcha-input input { display: inline-block; width: 128px; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; padding: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: white; color: #4d4d4d; }

.write-review__captcha-reload { display: block; color: #2fa4e7; text-decoration: underline; margin-top: 3px; }

.times { margin-top: 35px; }
.times h3 { margin-top: 25px; }
.times h3 + p { margin-top: 25px; line-height: 1.2; }
.times .times__container { margin-top: 14px; *zoom: 1; }
.times .times__container:after { content: " "; display: table; clear: both; }
.times .times__image { float: left; width: 23.44828%; text-align: center; }
.times .times__image img { max-width: 100%; }
.times .times__textwrap { margin-left: 23.44828%; background: whitesmoke; padding: 14px 20px; }
.times .times__textwrap p { line-height: 1.3; margin-bottom: 14px; }
.times .times__textwrap p:last-child { margin-bottom: 0; }

.banner-hor + .all-makes { margin-top: 45px; }

.make_fastest-cars { margin-top: 45px; padding-top: 45px; border-top: 1px solid #e3e3e3; }
.make_fastest-cars .make__vehicle { margin-top: 35px; }
.make_fastest-cars .acceleration-time { margin-left: 24px; color: #2fa4e7; }

.seo-text ol { list-style-type: decimal; padding-left: 18px; }
.seo-text ol li { padding-left: 16px; margin-bottom: 1em; }

.news_related-articles .news__container { padding-top: 0; }
.news_related-articles h3 { margin: 15px 0; }

.parts_min { padding-bottom: 0; border-bottom: none; }

.table-container { margin-top: 45px; }
.table-container table { min-width: 100%; margin-top: 35px; }
.table-container table tr:nth-child(odd) { background: whitesmoke; }
.table-container table td { padding: 9px 0; }
.table-container table td:first-child { padding-left: 3.44%; width: 37.24138%; }
.table-container table td:last-child { padding-right: 3.44%; width: 34.71264%; }

.banner-ver { margin-top: 76px; margin-bottom: 40px; font-size: 0; text-align: center; }
.banner-ver img { max-width: 100%; }

.right-block { margin-bottom: 40px; padding: 14px 6.66666%; border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; }
.right-block:last-child { margin-bottom: 0; }

.right-block__specs-list { margin-top: 20px; }
.right-block__specs-list td a { padding-left: 55px; line-height: 3; position: relative; }
.right-block__specs-list td a:before { content: ""; position: absolute; }
.right-block__specs-list .speed:before { background: url('../img/icons-sc83f02760e.png') 0 0 no-repeat; width: 31px; height: 36px; left: 6px; top: -11px; }
.right-block__specs-list .engine:before { background: url('../img/icons-sc83f02760e.png') 0 -131px no-repeat; width: 36px; height: 32px; left: 4px; top: -9px; }
.right-block__specs-list .horsepower:before { background: url('../img/icons-sc83f02760e.png') 0 -406px no-repeat; width: 37px; height: 28px; left: 4px; top: -7px; }
.right-block__specs-list .gas:before { background: url('../img/icons-sc83f02760e.png') 0 -173px no-repeat; width: 24px; height: 24px; left: 10px; top: -5px; }
.right-block__specs-list .towing:before { background: url('../img/icons-sc83f02760e.png') 0 -477px no-repeat; width: 37px; height: 31px; left: 4px; top: -8px; }
.right-block__specs-list .length:before { background: url('../img/icons-sc83f02760e.png') 0 -247px no-repeat; width: 25px; height: 25px; left: 9px; top: -8px; }
.right-block__specs-list .wheelbase:before { background: url('../img/icons-sc83f02760e.png') 0 -46px no-repeat; width: 48px; height: 25px; left: -1px; top: -5px; }
.right-block__specs-list .clearance:before { background: url('../img/icons-sc83f02760e.png') 0 -81px no-repeat; width: 40px; height: 40px; left: 4px; top: -13px; }
.right-block__specs-list .weight:before { background: url('../img/icons-sc83f02760e.png') 0 -207px no-repeat; width: 33px; height: 30px; left: 8px; top: -9px; }
.right-block__specs-list .cargo:before { background: url('../img/icons-sc83f02760e.png') 0 -312px no-repeat; width: 45px; height: 45px; left: 2px; top: -16px; }
.right-block__specs-list .spec-value { text-align: left; color: #ff5c28; }

.right-block__image { display: inline-block; vertical-align: middle; width: 92px; height: 110px; margin-top: 20px; }
.right-block__image img { width: 100%; }

.right-block__tires-list { display: inline-block; vertical-align: middle; margin-left: 37px; margin-top: 20px; }
.right-block__tires-list li { line-height: 2; }

.right-block__wallpaper-list { margin-top: 24px; }
.right-block__wallpaper-list li { line-height: 2; }

.find-dealer { line-height: 2.5; margin-top: 11px; padding-bottom: 10px; border-bottom: 1px solid #e3e3e3; *zoom: 1; }
.find-dealer + a { display: block; color: #2fa4e7; margin-top: 4px; margin-bottom: -8px; }
.find-dealer:after { content: " "; display: table; clear: both; }
.find-dealer input.zipcode { border: 1px solid #e3e3e3; -webkit-border-radius: 3px; border-radius: 3px; width: 40px; color: #4d4d4d; padding: 2px; margin-left: 7px; background: white; }
.find-dealer button { float: right; line-height: 2.15; padding: 0 8px; }
@media only screen and (max-width: 1090px) { .find-dealer button { float: none; } }

footer { margin: 0 30px; margin-top: 50px; border-top: 1px solid #e3e3e3; *zoom: 1; }
footer:after { content: " "; display: table; clear: both; }
footer .footer__info { float: left; width: 50%; line-height: 67px; }
footer .footer__info a { color: #2fa4e7; margin-right: 15px; }
footer .footer__copyright { float: right; width: 50%; text-align: right; line-height: 67px; }
