=roman
	font-family: "helveticaneuecyr-roman", Arial, sans-serif

=light
	font-family: "helveticaneuecyr-light", Arial, sans-serif
	
=bold
	font-family: "helveticaneuecyr-bold", Arial, sans-serif

$blue: #2fa4e7
$darkblue: #2D7CAA
$gray: #e3e3e3

=borrad
	-webkit-border-radius: 3px 
	border-radius: 3px 

header
	+clr
	padding: 0 30px
	line-height: 95px 

.logo
	display: block 
	float: left
	+roman
	+fs(48)
	text-decoration: none
	margin-right: 12.416666666%  
	span
		color: $blue
	&:hover
		color: #4D4D4D
	+r1090
		margin-right: 5% 

.search
	float: left
	position: relative 
	+box
	+r980
		clear: left
	input
		font-style: italic
		color: #4d4d4d
		width: 500px
		border: 1px solid #e5e5e5
		+borrad
		padding: 10px 25px
		padding-right: 105px
		+box
		+placeholder-color($gray)
		background: #FFF 

.btn
	// +g(#2fa4e7, #44ade9)
	background: $blue 
	-webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3) inset
	border: 1px solid #3084b6
	+bold
	color: #FFF
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
	+borrad
	+transition(background 0.2s linear) 
	&:hover
		background: $darkblue
		-webkit-box-shadow: none 
		box-shadow: none
		color: #FFF
	&:active
		+transform(translateY(1px))
	
.btn_search
	position: absolute
	top: 28px
	right: 0
	width: 90px
	height: 38px
	+borrad
	&:before
		content: ""
		position: absolute
		top: 7px
		left: 33px
		+s(search)

.join, .sign-in
	display: block
	float: right
	text-decoration: none
	+light
	+fs(18)
	// +r980
	// 	clear: left 
	
.join
	color: $blue
	padding-left: 25px
	margin-right: 3% 
	position: relative
	&:before
		content: ""
		position: absolute
		top: 37px
		left: 0
		+s(join) 

.menu-list
	+g(#2fa4e7, #44ade9)
	border: 1px solid #3084b6
	+borrad  
	font-size: 0
	margin: 0 30px
	+box
	li
		+fs(14)
		display: inline-block
		border-left: 1px solid rgba(255, 255, 255, 0.3)
		border-right: 1px solid #328bbf
		+transition(0.2s linear)
		&:first-child
			border-left: 1px solid transparent
		&:last-child
			border-right: 1px solid transparent
		&:hover
			background: $darkblue
			border-left: 1px solid transparent
			border-right: 1px solid transparent
		a
			display: block
			padding: 0 20px
			line-height: 36px
			color: #FFF 
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
	.is-active
		background: $darkblue
		border-left: 1px solid transparent
		border-right: 1px solid transparent
