// Normally mainpage styles
=roman
	font-family: "helveticaneuecyr-roman", Arial, sans-serif

=light
	font-family: "helveticaneuecyr-light", Arial, sans-serif
	
=bold
	font-family: "helveticaneuecyr-bold", Arial, sans-serif

$blue: #2fa4e7
$darkblue: #2D7CAA
$gray: #e3e3e3

=borrad
	-webkit-border-radius: 3px 
	border-radius: 3px 


// LEFT COLUMN
.section-name
	+bold
	+fs(18)
	color: $blue

.all-makes 
	margin-top: 35px
	caption
		text-align: left
		margin-bottom: 24px
	td
		width: 16.667% 
		line-height: 2.15
		+fs(14)

.options
	margin-top: 35px 
	.options__block
		background: #f5f5f5
		border: 1px solid $gray
		+borrad
		padding: 5px 20px
		margin-top: 12px
		
	.options__item
		display: inline-block
		margin-right: 25px
		select
			padding: 3px 10px 
			width: 120px 
			color: #4D4D4D 
		strong
			display: inline-block
			+fs(14)
		form
			display: inline-block
			margin-left: 18px
			
	.btn_options
		position: relative
		top: 2px
		float: right  
		width: 70px
		height: 24px

.parts
	margin-top: 45px
	padding-bottom: 40px 
	border-bottom: 1px solid $gray

.parts__block
	display: inline-block
	vertical-align: top 
	width: 33%
	min-width: 150px
	margin-top: 32px
	margin-bottom: 6px 
	h2
		margin-top: 12px
		margin-bottom: 6px
		line-height: 1.1  
		a
			color: $blue
			font-weight: bold 
			+fs(14)

	.parts__image
		width: 118px 
		height: 118px
		border: 1px solid $gray
		font-size: 0 
		img
			max-width: 100%
	li
		line-height: 1.7
		
	.btn_more
		display: inline-block
		text-align: center
		position: relative
		width: 31px 
		height: 22px
		margin-left: 8px 
		
.most-visited
	margin-top: 45px
	caption
		text-align: left
		margin-bottom: 27px
	td
		width: 33%
		line-height: 2

.banner-hor
	margin-top: 42px
	font-size: 0
	text-align: center
	// width: 100% 
	// height: 90px
	
.reviews
	margin-top: 45px 
	
.news
	margin-top: 45px

// RIGHT COLUMN
.banner-ver
	margin-top: 76px
	margin-bottom: 40px 
	font-size: 0
	text-align: center
	// width: 100%
	// height: 600px 

.right-block
	margin-bottom: 50px 
	padding: 14px 20px 
	border: 1px solid $gray
	+borrad

.right-block__specs-list
	margin-top: 20px
	li
		padding-left: 69px 
		line-height: 3
		position: relative
		&:before
			content: ""
			position: absolute
	.speed:before
		+s(speed)
		left: 8px
		top: 3px
	.engine:before
		+s(engine)
		left: 4px
		top: 3px
	.horsepower:before
		+s(horsepower)
		left: 4px
		top: 6px
	.gas:before
		+s(gas)
		left: 10px
		top: 7px
	.towing:before
		+s(towing)
		left: 4px
		top: 3px
	.length:before
		+s(length)
		left: 9px
		top: 3px
	.wheelbase:before
		+s(wheelbase)
		left: -1px
		top: 4px
	.clearance:before
		+s(clearance)
		left: 4px
		top: -3px
	.weight:before
		+s(weight)
		left: 8px
		top: 1px
	.cargo:before
		+s(cargo)
		left: 2px
		top: -6px	

.right-block__image
	display: inline-block
	vertical-align: middle 
	width: 92px
	height: 110px
	margin-top: 20px
	img
		width: 100% 

.right-block__tires-list
	display: inline-block
	vertical-align: middle
	margin-left: 37px
	margin-top: 20px
	li
		line-height: 2

.right-block__wallpaper-list
	margin-top: 24px 
	li
		line-height: 2 



// FOOTER
footer
	margin: 0 30px 
	margin-top: 50px //1063px
	border-top: 1px solid $gray
	+clr
	.footer__info
		float: left
		width: 50%
		line-height: 67px
		a
			color: $blue
			margin-right: 15px 
	.footer__copyright
		float: right
		width: 50%
		text-align: right
		line-height: 67px